@import "tailwindcss";

@font-face {
    font-family: 'InterTight';
    src: url('./assets/fonts/static/InterTight-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'InterTight';
    src: url('./assets/fonts/static/InterTight-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'InterTight';
    src: url('./assets/fonts/static/InterTight-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'InterTight';
    src: url('./assets/fonts/static/InterTight-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'InterTight';
    src: url('./assets/fonts/static/InterTight-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'InterTight';
    src: url('./assets/fonts/static/InterTight-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'InterTight';
    src: url('./assets/fonts/static/InterTight-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'InterTight';
    src: url('./assets/fonts/static/InterTight-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'InterTight';
    src: url('./assets/fonts/static/InterTight-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'InterTight';
    src: url('./assets/fonts/static/InterTight-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'InterTight';
    src: url('./assets/fonts/static/InterTight-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'InterTight';
    src: url('./assets/fonts/static/InterTight-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'InterTight';
    src: url('./assets/fonts/static/InterTight-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'InterTight';
    src: url('./assets/fonts/static/InterTight-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'InterTight';
    src: url('./assets/fonts/static/InterTight-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'InterTight';
    src: url('./assets/fonts/static/InterTight-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'InterTight';
    src: url('./assets/fonts/static/InterTight-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'InterTight';
    src: url('./assets/fonts/static/InterTight-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@theme {
    --font-inter: "InterTight", "sans-serif";
}